body input[type="submit"]
{
	border:none;
	left:50%;
	top:10%;
	outline: none;
	text-align: center;
	height: 40px;
	padding-left: 100;
	background: #00fa9a;
	color: #000;
	font-size: 18px;
	font-style: italic;
	border-radius: 20px;
}
body input[type="submit"]:hover
{
	cursor: pointer;
	text-align: center;
	background: red;
	color: black;
}